header{
    position: fixed;
    top: 0;
    width: 100%;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(255,255,255,0.2);
    z-index: 100;
    padding-bottom: 5px;
}

footer{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.2);

    z-index: 100;

    bottom: 0;
    width: 100%;
    justify-content: center;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

#footer{
    text-align: start;
    margin-top: -10px;
    margin-bottom: 3px;
    color: white;
    text-shadow: 0 0 20px black;
    display: flex;
}

.foot{
    font-size: 13.5px;
    font-family: Pixel-Content;
}

#pic{
    height: 180px;
    border: 1px solid whitesmoke;
    border-color: white;
    box-shadow: 0 0 15px whitesmoke;
    border-radius: 60px;

}

#desk{
    position: relative;
    text-align: center;
    margin-bottom: 15%;
    animation-name: IN;
    animation-duration: 3s;
}

@keyframes IN {
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}

#deskIn{
    visibility: hidden;
}

body{
    margin: 0px;
}

#background{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -2;
}

a{
    color: black;
    text-decoration: none;
}

.container .active #box1{
    cursor: pointer;
    color: azure;

    background-color: black;
    border-radius: 20px;
    padding: 13px;
}

.container .active #box2{
    cursor: pointer;
    color: azure;

    background-color: black;
    border-radius: 20px;
    padding: 15px;
}

.container .active #box3{
    cursor: pointer;
    color: azure;

    background-color: black;
    border-radius: 20px;
    padding: 15px;
}

.container .active #box4{
    cursor: pointer;
    color: azure;

    background-color: black;
    border-radius: 20px;
    padding: 15px;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 15px;
    padding: 15px;

    backdrop-filter: blur(1);
    border-radius: 20px;
    font-family: Pixel;
}

.button:hover{
    cursor: pointer;
    color: azure;
}

#box1{
    margin-left: 15px;
}

#box1:hover{
    background-color: hsla(0, 0%, 0%, 0.404);
    border-radius: 20px;
    padding: 15px;
}

#box2:hover{
    background-color: hsla(0, 0%, 0%, 0.404);
    border-radius: 20px;
    padding: 15px;
}

#box3:hover{
    background-color: hsla(0, 0%, 0%, 0.404);
    border-radius: 20px;
    padding: 15px;
}

#box4:hover{
    background-color: hsla(0, 0%, 0%, 0.404);
    border-radius: 20px;
    padding: 15px;
}

#dev{
    visibility: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: auto;
    font-size: 15px;
    color: white;
    text-align: center;
    text-shadow: 0 0 50px black;

    font-family: Pixel;
}

.title{
    margin-top: 15vh;
    margin-bottom: 5vh;
    font-size: 30px;
    color: white;
    text-align: center;
    text-shadow: 0 0 50px whitesmoke;

    animation-name: slidedown;
    animation-duration: 2s;
    font-family: Pixel;
}

@font-face {
    font-family: Pixel;
    src: url(fonts/VCR_OSD_MONO_1.001.ttf);
}

@font-face {
    font-family: Pixel-Content;
    src: url(fonts/GeistPixel-Regular-VariableFont_ELSH.ttf);
}

.intro{
    color: white;
    text-align: center;
    z-index: 9999;
    margin: 20px;
}

#subIntro{
    color: white;
    text-align: center;
    margin-left: 50vh;
    margin-right: 50vh;
    margin-bottom: 50vh;
    margin-top: 100px;
}

.bgfade{
    position: fixed;
    top: 80px;      /* starts below header */
    left: 0;
    right: 0px;
    bottom: 0;

    background: black;
    z-index: -1;

    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,.45) 35%,
        rgba(0,0,0,.8) 100%
    );
}

@keyframes slidedown{
    from{
        transform: translateY(-300%)
    }
    to{
        transform: translateY(0%);
    }
}

.content{
    padding: 5%;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 15%;
    text-align: center;

    background-color: black;
    opacity: 50%;
    border-radius: 60px;
    box-shadow: 0 0 15px whitesmoke;

    animation-name: fadein;
    animation-duration: 3.5s;

    overflow: hidden;
    position: relative;
    font-family: Pixel-Content;
}

p{
    margin: 8%;
    font-size: 20px;
    color: white;
    text-align: start;
    text-shadow: 0 0 50px black;
}

.content-greeting{
    align-self: center;
}

.car{
    border: 1px solid whitesmoke;
    margin-bottom: 15%;
    box-shadow: 0 0 15px white;
    display: inline-block;

    position: relative;
}

.car img{
    position: relative;
    z-index: 49;
}

#motto{
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
    font-size: 13px;
    font-family: Pixel-Content;
    text-shadow: 0 0 15px whitesmoke;

    z-index: 50;
    animation-name: fadeIn;
}

@keyframes fadein {
    from{
        background-color: rgba(0,0,0,0);
        opacity: 0%;
    }
    to{
        background-color:rgba(0,0,0,0.7);
    }
}

#p1{
    animation-name: slideinp1;
    animation-duration: 2.5s;
    overflow: auto;
}

#p2{
    animation-name: slideinp2;
    animation-duration: 3s;
    overflow: auto;
}

#p3{
    animation-name: slideinp3;
    animation-duration: 3.5s;
    overflow: auto;
}

#p4{
    animation-name: slideinp4;
    animation-duration: 4s;
    overflow: auto;
}

#p5{
    animation-name: slideinp5;
    animation-duration: 5s;
    overflow: auto;
}

@keyframes slideinp1{
    from{
        transform: translateX(-300%);
    }
}

@keyframes slideinp2{
    from{
        transform: translateX(-300%);
    }
}

@keyframes slideinp3{
    from{
        transform: translateX(-300%);
    }
}

@keyframes slideinp4{
    from{
        transform: translateX(-300%);
    }
}

@keyframes slideinp5{
    from{
        transform: translateX(-300%);
    }
}